@page
@model MyApp.Namespace.AboutModel
@{
    ViewData["Title"] = "About";
}

<h1>Om mig</h1>
<p>Mitt namn är Ebba och jag anser mig vara en glad och positiv tjej som är tacksam att jag valde att studera Webbutveckling. Jag är nu i slutet
    på mitt andra och sista år vilket är både spännande och skrämmande. Under utbildningen har jag lärt mig en hel del om HTML, CSS, JavaScript, PHP,
    webbtjänster, ramverk, tillgänglighet och användarvänlighet. Det jag älskar mest med webbutveckling är att koda funktionalitet. Det finns inget bättre
    än att knäcka den nöten! Design är inte min starka sida däremot och jag fasar alltid över planeringsstadiet för en webbplats.
</p>

<p>På fritiden tycker jag komiskt nog om att sitta vid min dator och spela spel eller umgås med vänner. Att titta på serier är såklart också populärt men
    YouTube tar nog upp en större del av min tid. Jag älskar djur och sen jag flyttade hemifrån har jag ingen kattkompis att gosa med om dagarna. Det hoppas jag kan ändras i framtiden.
</p>