@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div>
    <h1>Välkommen!</h1>
    <p>Det här är en webbplats skapad för Moment 1 i kursen <i>Webbutveckling med .NET</i>. För denna specifika applikation har Razor Pages använts.</p>

    <h2>Tryck på knappen!</h2>
    <p>Tryck på knappen nedan för att räkna. Ladda om sidan för att börja om.</p>

    <button id="click-btn">Klicka mig!</button>
</div>
