@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Välkommen!</h1>
    <p>Det här är en webbplats skapad för Moment 1 i kursen <i>Webbutveckling med .NET</i>. För denna specifika applikation har Razor Pages använts.</p>
</div>
