@{
    // Dagens datum
    var dateTime = DateTime.Now;
    var date = dateTime.Date;
    var today = date.ToString("yyyy-MM-dd");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Moment 1.1</title>
    <!-- CSS -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>

    <!-- Container -->
    <div id="container">

        <!-- Header -->
        <header>

        <!-- Logga -->
        <a href="https://timshaircut.se/produkt/safety-razor-98r/"><img src="./razor.png" alt="logga"></a>

        <!-- Dagens datum -->
        <p class="date-text">Dagens datum är: @today</p>
    </header>

    <!-- Container -->
    <div id="main-content">

        <!-- Meny -->
        <aside>
            <nav>
                <a asp-page="/Index">Start</a>
                <a asp-page="/Razor">Razor</a>
                <a asp-page="/About">Om sidan</a>
            </nav>
        </aside>

        <!-- Huvudinnehåll -->
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <!-- Footer -->
    <footer class="border-top footer text-muted">
        <p>Av Student Ebba Hansson - Kontakta mig via e-post: ebba.hansson97@hotmail.com</p>
    </footer>

    </div>

    <!-- JS file -->
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>