
body {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #3C4048;
    font-family: 'Roboto', sans-serif;
}

#container {
    padding: 2em;
    background-color: #EAEAEA;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3em;
}

header img {
    max-width: 150px;
}

#main-content {
    display: flex;
    justify-content: space-between;
    gap: 2em;
}

#main-content img {
    max-width: 300px;
}

h1 {
    margin-top: 0;
}

aside {
    min-width: 200px;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

nav a {
    background-color: #3C4048;
    color: #00ABB3;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    background-color: #00ABB3;
    color: #EAEAEA;
}

main {
    flex-grow: 2;
}

footer {
    text-align: center;
    padding-top: 2em;
    border-top: 1px solid #3C4048;
    margin-top: 3em;
}

.date-text {
    font-size: 0.8em;
}

#click-btn {
    background-color: #B2B2B2;
    border: none;
    padding: 0.5em;
    color: #3C4048;
    font-weight: bold;
    font-family: 'Calibri', sans-serif;
    font-size: 1.1em;
    min-width: 100px;
}

#click-btn:hover {
    background-color: #00ABB3;
    color: #31343a;
}

/* Platta & mobil */
@media (max-width: 700px) {

    #main-content {
        flex-direction: column;
    }

}

table th, table td {
    padding: 1em;
    border: 1px solid black;
}

table {
    border-collapse: collapse;
}

table th {
    background-color: #31343a;
    color: rgb(236, 236, 236);
}

@media (max-width: 500px) {

    header {
        flex-direction: column;
        align-items: center;
        margin-bottom: 1em;
    }

}